@require(today, stocks, metadata, historical)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.23/cr-1.5.3/rr-1.2.7/datatables.min.css"/>
    <title>
        @def title():
            Comparative analysis of @metadata['symbols']!s
        @end
        @title() :: Market Thingy
    </title>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.23/cr-1.5.3/rr-1.2.7/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.sparkline').sparkline('html', {type: 'bar', barWidth: 10, barSpacing: 1});
            $('table').DataTable({
                colReorder: true,
                rowReorder: {selector: 'tr'},
                paging: false,
                searching: false,
            });
        });
    </script>

    <style type="text/css">
        .sparkline { display: block; }
    </style>
</head>
<body>
  <header>
      @def header():
          This is a comparative analysis of the following stocks:

          <ul>
              @for symbol in metadata['symbols']:
                <li>@symbol</li>
              @end
          </ul>
      @end
      @header()
  </header>

  <main>
      @def content():
        <h1>Facts</h1>
        <table>
            <thead>
                <tr>
                    <td></td>
                    @for symbol in metadata['symbols']:
                      <th>@symbol</th>
                    @end
                </tr>
            </thead>
            <tbody>
                @for fact in metadata['report']['facts']:
                    <tr>
                        <th>@fact</th>
                        @for symbol, stock in stocks.items():
                            <td>
                                <small>$@stock['facts'][fact]!s</small>
                                <span class="sparkline">@historical[symbol]['facts'][fact]</span>
                            </td>
                        @end
                    </tr>
                @end
            </tbody>
        </table>

        <h1>Ratios</h1>

        <h2>Liquidity Ratios</h2>

            <blockquote>
                <h3>Definitions</h3>
                <ul>
                @for name, definition in metadata['report']['liquidity_ratios'].items():
                    <li><b>@name</b> - @definition</li>
                @end
                </ul>
            </blockquote>

            <table>
                <thead>
                    <tr>
                        <td></td>
                        @for name in metadata['report']['liquidity_ratios'].keys():
                            <th>@name</th>
                        @end
                    </tr>
                </thead>
                <tbody>
                    @for stock in stocks.keys():
                        <tr>
                            <th>@stock</th>
                            @for ratio in metadata['report']['liquidity_ratios'].keys():
                                <td>
                                    @stocks[stock]['liquidity_ratios'][ratio]!s
                                    <span class="sparkline">@historical[stock]['liquidity_ratios'][ratio]</span>
                                </td>
                            @end
                        </tr>
                    @end
                </tbody>
            </table>

        <h2>Leverage Financial Ratios</h2>

            <blockquote>
                <h3>Definitions</h3>
                <ul>
                    @for name, definition in metadata['report']['leverage_financial_ratios'].items():
                    <li><b>@name</b> - @definition</li>
                @end
                </ul>
            </blockquote>

            <table>
                <thead>
                    <tr>
                        <td></td>
                        @for name in metadata['report']['leverage_financial_ratios'].keys():
                            <th>@name</th>
                        @end
                    </tr>
                </thead>
                <tbody>
                    @for stock in stocks.keys():
                        <tr>
                            <th>@stock</th>
                            @for ratio in metadata['report']['leverage_financial_ratios'].keys():
                            <td>
                                @stocks[stock]['leverage_financial_ratios'][ratio]!s
                                <span class="sparkline">@historical[stock]['leverage_financial_ratios'][ratio]</span>
                            </td>
                            @end
                        </tr>
                    @end
                </tbody>
            </table>

        <h2>Profitability Ratios</h2>

            <blockquote>
                <h3>Definitions</h3>
                <ul>
                    @for name, definition in metadata['report']['profitability_ratios'].items():
                    <li><b>@name</b> - @definition</li>
                @end
                </ul>
            </blockquote>

            <table>
                <thead>
                    <tr>
                        <td></td>
                        @for name in metadata['report']['profitability_ratios'].keys():
                            <th>@name</th>
                        @end
                    </tr>
                </thead>
                <tbody>
                    @for stock in stocks.keys():
                        <tr>
                            <th>@stock</th>
                            @for ratio in metadata['report']['profitability_ratios'].keys():
                                <td>
                                    @stocks[stock]['profitability_ratios'][ratio]!s
                                    <span class="sparkline">@historical[stock]['profitability_ratios'][ratio]</span>
                                </td>
                            @end
                        </tr>
                    @end
                </tbody>
            </table>

      @end
      @content()
  </main>

  <footer>

      @def footer():
        This file was generated at @today
      @end
      @footer()
  </footer>
</body>
</html>
